$fontSans: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$fontSerif: 'Playfair Display', 'Georgia', 'Cambria', 'Times New Roman', 'Times',
  serif;
$fontMono: 'Ubuntu Mono', monospace;

$textSize: 1.6rem;

$widthLarge: 1300px;
$widthMediumLarge: 960px;
$widthMedium: 850px;

//blog post width
$widthMediumSmall: 760px;
// $widthMediumSmall: 800px;
$widthSmall: 550px;
$white: #fff;
$black: #1b2d40;
$blackDark: #000;
// $blackLight: #444;
$blackLight: #333;
// $blue: #2980b9;
$blue: #287cb4;
// $blue: #1b557e;
$blueLight: #3498db;
// $blueLight: #2980b9;
$red: #e74c3c;
// $boxShadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
$boxShadow: 0 0 5px rgba($blackDark, 0.1);
$boxShadow2: 0 0 3px rgba($blackDark, 0.05);

// //Inverse
// $white: #1b2d40;
// $black: #fff;
// $blackDark: #fff;
// $blackLight: #bbb;
// $blue: #e74c3c;
// $blueLight: #e74c3c;
// $red: #287bc4;
// // $boxShadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
// $boxShadow: 0 0 5px rgba($blackDark, 0.1);
// $boxShadow2: 0 0 3px rgba($blackDark, 0.05);
