@import '../assets/scss/vars.scss';
.page-404 {
  &__inner {
    text-align: center;
    font-size: 1.5em;
    max-width: 800px;
    margin: 0 auto;
    h1 {
      font-family: $fontSerif;
      letter-spacing: 1px;
    }
    p {
      line-height: 1.6;
    }
  }
  &__avatar {
    width: 250px;
    max-width: 95%;
    margin: 20px auto 40px;
    overflow: hidden;
    border-radius: 100%;
  }
}
